<div class="product-details_main row">
  <!-- <img src="assets/images/product1.jpg"> -->
  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-4">
      <app-product-carousel [images]=""></app-product-carousel>
  </div>
  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-4 product_details">
      <p>Product: <span>product</span></p>
      <p>Description:   <span> description</span></p>
      <p>Material:  <span>material</span></p>
      <p>SKU:  <span>SKU70747582495</span></p>
      <p>Price:  <span>{{item.price}}</span></p>
      <p>Product:  <span>product</span></p>
      <p>Product:   <span>product</span></p>
      <!-- <div>
          <span class="btn btn_add">Add to Cart</span>
          <span class="btn" (click)="redirectTo()">Back</span>
        </div> -->
  </div>
  
</div>

