.product-details_main{
    text-align: left;
    margin-top: 20px;
}

.product-details_main img{
    width: 30%;
}

.btn{
    /* padding: 5px;
    background-color: #355e7d;
    color: #ffffff;
    border-radius: 2px; */
    background-color: #355e7d;
    border: none;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    font-size: 12px;
    outline: none;
}

.btn_main{
    margin-top: 20px;
}

.product_details p{
    font-size: 12px;
}

.product_details p span{
    color:grey;
}